@charset 'UTF-8'; // set encoding to most common type


/* SCSS utilities
   ========================================================================== */
@import 'utils/media-breakpoints'; // mixins and scss functions
@import 'utils/mixins'; // media breakpoints/media mixins

/* Complex reset
   ========================================================================== */
@import 'utils/reset'; // custom reset file

/* Support
   ========================================================================== */
@import 'utils/container'; // main/root/utilities tags

/* Styles
   ========================================================================== */
:root {
   --link-gradient: linear-gradient(90deg, #f5ce62, #e85a19);
}

:root {
   --tw-color-white: theme(colors.white);

   --tw-color-zinc-300: theme(colors.zinc.300);
   --tw-color-zinc-400: theme(colors.zinc.400);
   --tw-color-zinc-500: theme(colors.zinc.500);
   --tw-color-zinc-600: theme(colors.zinc.600);
   --tw-color-zinc-700: theme(colors.zinc.700);
   --tw-color-zinc-800: theme(colors.zinc.800);
   --tw-color-zinc-900: theme(colors.zinc.900);
   --tw-color-zinc-950: theme(colors.zinc.950);

   --tw-color-cyan-300: theme(colors.cyan.300);
   --tw-color-cyan-400: theme(colors.cyan.400);
   --tw-color-cyan-500: theme(colors.cyan.500);

   --tw-color-sky-500: theme(colors.sky.500);
   --tw-color-sky-600: theme(colors.sky.600);

   --tw-color-blue-300: theme(colors.blue.300);
   --tw-color-blue-400: theme(colors.blue.400);
   --tw-color-blue-500: theme(colors.blue.500);
   --tw-color-blue-600: theme(colors.blue.600);
   --tw-color-blue-700: theme(colors.blue.700);

   --tw-color-indigo-200: theme(colors.indigo.200);
   --tw-color-indigo-300: theme(colors.indigo.300);
   --tw-color-indigo-400: theme(colors.indigo.400);
   --tw-color-indigo-500: theme(colors.indigo.500);
   --tw-color-indigo-600: theme(colors.indigo.600);

   --tw-color-violet-200: theme(colors.violet.200);
   --tw-color-violet-300: theme(colors.violet.300);
   --tw-color-violet-400: theme(colors.violet.400);
   --tw-color-violet-500: theme(colors.violet.500);
   --tw-color-violet-600: theme(colors.violet.600);

   --tw-color-purple-200: theme(colors.purple.200);
   --tw-color-purple-300: theme(colors.purple.300);
   --tw-color-purple-400: theme(colors.purple.400);
   --tw-color-purple-500: theme(colors.purple.500);
   --tw-color-purple-600: theme(colors.purple.600);

   --tw-color-fuchsia-200: theme(colors.fuchsia.200);
   --tw-color-fuchsia-300: theme(colors.fuchsia.300);
   --tw-color-fuchsia-400: theme(colors.fuchsia.400);
   --tw-color-fuchsia-500: theme(colors.fuchsia.500);
   --tw-color-fuchsia-600: theme(colors.fuchsia.600);

   --tw-color-pink-200: theme(colors.pink.200);
   --tw-color-pink-300: theme(colors.pink.300);
   --tw-color-pink-400: theme(colors.pink.400);
   --tw-color-pink-500: theme(colors.pink.500);
   --tw-color-pink-600: theme(colors.pink.600);

   --tw-color-rose-200: theme(colors.rose.200);
   --tw-color-rose-300: theme(colors.rose.300);
   --tw-color-rose-400: theme(colors.rose.400);
   --tw-color-rose-500: theme(colors.rose.500);
   --tw-color-rose-600: theme(colors.rose.600);

   --tw-color-teal-600: theme(colors.teal.600);
   --tw-color-teal-700: theme(colors.teal.700);

   --tw-color-emerald-600: theme(colors.emerald.600);
   --tw-color-emerald-700: theme(colors.emerald.700);

   --tw-color-green-500: theme(colors.green.500);
   --tw-color-green-600: theme(colors.green.600);
   --tw-color-green-700: theme(colors.green.700);

   --tw-color-lime-300: theme(colors.lime.300);
   --tw-color-lime-400: theme(colors.lime.400);
   --tw-color-lime-500: theme(colors.lime.500);
   --tw-color-lime-600: theme(colors.lime.600);
   --tw-color-lime-700: theme(colors.lime.700);

   --tw-color-yellow-300: theme(colors.yellow.300);
   --tw-color-yellow-400: theme(colors.yellow.400);
   --tw-color-yellow-500: theme(colors.yellow.500);
   --tw-color-yellow-600: theme(colors.yellow.600);
   --tw-color-yellow-700: theme(colors.yellow.700);

   --tw-color-amber-400: theme(colors.amber.400);
   --tw-color-amber-500: theme(colors.amber.500);
   --tw-color-amber-600: theme(colors.amber.600);

   --tw-color-orange-200: theme(colors.orange.200);
   --tw-color-orange-300: theme(colors.orange.300);
   --tw-color-orange-500: theme(colors.orange.500);
   --tw-color-orange-600: theme(colors.orange.600);

   --tw-color-red-200: theme(colors.red.200);
   --tw-color-red-300: theme(colors.red.300);
   --tw-color-red-600: theme(colors.red.600);
   --tw-color-red-700: theme(colors.red.700);
}